@(jc: models.JurosCompostos, parcelas: List[models.ParcelaComJuros], totalJuros: Double = 0d)

@main("Patrimonium: Juros Compostos") {
    <h1>Juros Compostos</h1>
    <p>@jc</p>
    <table border="1">
        <thead>
        <tr>
            <th>Interação</th>
            <th>Aporte acum.</th>
            <th>Juros Mensal</th>
        </tr>
        </thead>
        <tbody>
        @for(parcela <- parcelas) {
        <tr>
            <td>@parcela.parcela</td>
            <td>@(f"${parcela.valor}%.2f")</td>
            <td>@(f"${parcela.juros}%.2f")</td>
        </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">Total juros</th>
            <th>@(f"$totalJuros%.2f")</th>
        </tr>
        </tfoot>
    </table>
}
